{% extends 'base.html' %} {% block content %}

<div class="container">

    <div class="p-4 m-4">

        <div class="col-lg-4 mx-auto border rounded p-4">
            <h3 class="alert alert-light border rounded"> Login Here </h3>

            <form action="/login" method="POST">
                {% csrf_token %} {% if error %}
                <div class="alert alert-danger">
                    <p>{{error}}</p>
                </div>
                {% endif %}
                
                <!-- email -->
                <div class="form-group mt-3">
                    <label for="">Email</label>
                    <input type="email" name="email" id="" class="form-control form-control-sm" placeholder="example@email.com">

                </div>
                <!-- Password-->
                <div class="form-group mt-3">
                    <label for="">Password</label>
                    <input type="Password" name="password" id="" class="form-control form-control-sm" placeholder="********">

                </div>
                <!-- submit button -->
                <div class="form-group mt-4 ">
                    <input class="btn btn-sm btn-info col-lg-4  " type="submit" value="Login">

                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}