{% extends 'base.html' %} {% block content %}
<!-- {{customer }} -->
<!-- <h2>{{customer.first_name}}</h2>
<h2>{{customer.last_name}}</h2>
<h2>{{customer.phone}}</h2>
<h2>{{customer.email}}</h2> -->

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-4 mx-auto">

            <div class="card  p-auto" style=" height:auto ; width: 20rem;">

                <h5 class="card-title" style="margin-left: 7rem;
                padding: 1rem;">Profile</h5>
                <!-- <img src="{{customer.img.url}}" class="card-img-top" alt="..."> -->
                <img class="card-img-top" style="    
                    width: 12rem;
                    height: 10rem;
                    height: 13rem;
                    border-radius: 25%;
                    margin: 19px auto;
                " src="{{customer.img.url}}" alt="not opennnnnnnnnnnnnn">


                <div class="card-body">

                    <ul class="list-group">
                        <!-- <li class="list-group-item active" aria-current="true">An active item</li> -->
                        <li class="list-group-item">First name : <b>{{customer.first_name}} </b></li>

                        <li class="list-group-item">Last name : <b>{{customer.last_name}}</b></li>

                        <li class="list-group-item">Phone :<b> {{customer.phone}}</b></li>

                        <li class="list-group-item">Email :<b> {{customer.email}}</b></li>
                        <!-- <li class="list-group-item">password :<b> {{customer.password}}</b></li> -->

                        <!-- <li class="list-group-item">A third item</li> -->

                    </ul>


                    <a href="/profile?toggle_content=true" class="btn btn-primary mt-4">Edit Profile</a>
                </div>
            </div>
        </div>

        {% if show_content %}
        <div class="col-lg-8 mx-auto">
            <!-- <h2>ram ram ji</h2> -->

            <div class="col-lg-8 mx-auto border rounded p-4">
                <h3 class="alert alert-light border rounded"> Edit Your Profile</h3>

                <form action="/profile" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {% if error %}
                    <div class="alert alert-danger">
                        <p>{{error}}</p>
                    </div>
                    {% endif %}
                    <!-- first name -->
                    <div class="form-group mt-3">
                        <label for="">First Name</label>
                        <input type="text" name="firstname" id="" value="{{values.first_name}}" class="form-control form-control-sm">

                    </div>
                    <!--Last name -->
                    <div class="form-group mt-3">
                        <label for="">Last Name</label>
                        <input type="text" name="lastname" id="" value="{{values.last_name}}" class="form-control form-control-sm">

                    </div>
                    <!-- mobile number -->
                    <div class="form-group mt-3">
                        <label for="">Mobile Number</label>
                        <input type="text" name="phone" id="" value="{{values.phone}}" class="form-control form-control-sm" placeholder="9898989898">

                    </div>
                    <!--Prev email -->
                    <div class="form-group mt-3">
                        <label for="">Previous Email</label>
                        <input type="email" name="prev_email" id="" value="{{values.email}}" class="form-control form-control-sm" placeholder="example@email.com" readonly>

                    </div>

                    <!-- New email -->
                    <div class="form-group mt-3">
                        <label for="">New Email</label>
                        <input type="email" name="new_email" id="" class="form-control form-control-sm" placeholder="example@email.com">

                    </div>
                    <!-- Password-->
                    <div class="form-group mt-3">
                        <label for="">Password</label>
                        <input type="Password" name="password" id="" class="form-control form-control-sm" placeholder="********">

                    </div>


                    <!-- profile image -->
                    <!-- <br>
                    <p></p> -->
                    <label class="mt-3" for="">Profile Image</label>
                    <div class="input-group">
                        <input type="file" name="profile_image" accept="image/*" class="form-control" placeholder="upload profile photo">


                        <!-- <label class="input-group-text" for="inputGroupFile02">Upload </label> -->
                    </div>

                    <p> current file : {{customer.img.name}}</p>
                    <div class="alert alert-danger" role="alert">
                        if you want to update your profile image then click on "Choose button" else skip it !
                    </div>


                    <!-- submit button -->
                    <div class="form-group mt-4">
                        <input class="btn btn-sm btn-info" type="submit" value="Edit your Profile">

                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}